<li  *ngFor="
let Character of CharacterList;
let i = index;
let isFirst = first;
let isLast = last;
let isEven = even;
let isOdd = odd;
"

class="list-group-item d-flex justify-content-between align-items-center" [ngClass]="{
  'list-group-item-success': isEven,
  'list-group-item-dark': isOdd
}">
  <div>
    <span>{{i+1}}. </span>
    <span>{{Character.name}}</span>
    <strong> - Power: </strong>
    <span>{{Character.power}}</span>
  </div>
  <button (click)="deleteCharacterByID(Character)" class="btn btn-danger" >x</button>
  <!--
  <span>Es el primer: {{isFirst}}</span>
  <span>Es el ultimo: {{isLast}}</span>
  <span>Es par: {{isEven}}</span>
  <span>Es impar: {{isOdd}}</span>
  -->

</li>
